.darkmode {
    background-color: darkgrey;
    color: lightblues;
}


.myMessage {
    margin: 10px 0;
    padding: 10px;
    border: 4px solid #ccc;
}

button {
    margin: 7px;
}

input {
    margin: 10px 0;
    padding: 5px;
}

