.darkmode {
    background-color: peru;
    color: lightblue;
}


.myMessage {
    margin: 10px 0;
    padding: 10px;
    border: 4px solid #d53f3f;
}

button {
    margin: 9px;
}

input {
    margin: 10px 0;
    padding: 5px;
}

